
body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
 
}

.container-fluid{
    flex: 1 !important;
    
}

.listing-hd {
    margin-top: 1rem !important;
}
.navbar{
    background-color: white;
    height:3rem;
    padding: 1.5rem 0 1.5rem 0 !important ;
}

.navbar-nav{
    text-align: center;
}


/* logo */
.fa-compass{
    font-size: 2rem;
    color:#FF385C;
}

.nav-link{
    color:#222222 !important;
}


/* footer */
.f-info{
    display:flex;
    background-color: lightgray;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 10px 0 10px 0 ;
}

.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;
}

/* lsiting card */
.listingcard{
    border:none !important;
    margin-bottom: 1.5rem;

}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-hover {
    text-decoration: none;
}

.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

.add-btn, .delete-btn, .edit-btn{
    background-color: red !important;
    color: white !important;
    
}
.add-btn, .delete-btn, .edit-btn:hover{
    opacity: 0.7 !important;
}

/* show page image */
.show-pg-img{
    height: 40vh !important;
}

/* edit delete button */
.edit-del-btn-con{
    display: flex;
    gap: 2rem;
}


/* map */
#map { 
    height: 400px;
    width: 100%;
}
